In [ ]:
#Rule 1 No Name Space While Declaring The Variable Name

In [ ]:
#First Name ('Chahak') X

In [6]:
First Name ('Chahak Gandhi')
print ('First Name')

SyntaxError: invalid syntax (3078799694.py, line 1)

In [4]:
Firstname= 'chahak'
print ('Firstname')

Firstname

In [ ]:
#Rule 2 A Variable Name Should Not Start With A Number

In [ ]:
#1name= ('chahak') x

In [5]:
1name= ('chahak')
print ('1name')

SyntaxError: invalid decimal literal (1783055787.py, line 1)

In [7]:
Name1= ('Chahak')
print ('Name1')

Name1

In [ ]:
#Rule 3 A Variable Name Shuld Not Contain Special Characters

In [8]:
Name@= ('chahak')
print ('Name@')

NameError: name 'Name' is not defined

In [ ]:
#name@= ('chahak') x

In [ ]:
#Intro To Datatypes In Python

In [ ]:
#1 String=str

In [ ]:
#2 List= list

In [ ]:
#3 Tuples= Tuple

In [ ]:
#4 Dictionaries= Dict

In [ ]:
#Classification Of Datatypes

In [ ]:
#1 Mutable Datatypes ('which we can EDIT')

In [ ]:
#2 Immutable Datatypes ('Which we cannot EDIT')